<div class="bg">
    <div class="container bg">
        <div class="d-flex justify-content-center align-items-center" style="height:100px;">
            <div class="bg-primary">
                <h1>Welcome to the Train Departures</h1>
            </div>  
        </div>
        <div class="d-flex justify-content-center align-items-center" style="height:100px;">
                <div>
                    <button  routerLink="/departures" class="btn btn-primary">List All Departures</button>
    
                </div>
    
            </div>
    </div>
</div>